* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /* = 10px */
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: local('Lato'), local('Lato-Regular')
    url(/Tag_32_scorekeeper/assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: local('Lato'), local('Lato-Bold')
    url(/Tag_32_scorekeeper/assets/fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: Wedding;
    font-style: normal;
    font-weight: 400;
    src: local('Wedding')
    url(/Tag_35/lev3_2_flexbox/assets/fonts/Wedding.ttf);
}
body {
    color: rgba(0,0,0,.8);
    font-family: Lato;
    background-color: #D9E8E5;
}

/* HEADER */

header {
    height: 6rem;
    background-color: white;
    display: flex;
    align-items: center; 
}
nav {
    display: flex;
    align-items: baseline;
    flex: 1;
}
.logo {
    display: flex;
    flex-grow: 0.15;
    font-family: Wedding;
    font-size: 2.5rem;
    padding-left: 5%;  
}
h1 {
    display: flex;
    flex-grow: 1;
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: rgba(0,0,0,.8);
    font-size: 1.5rem;
}
ul:nth-of-type(1) {
    display: flex;
    flex: 5;
    list-style: none;    
    gap: 3rem;
}
ul:nth-of-type(2) {
    display: flex;
    flex: 1;
    list-style: none;    
    gap: 3rem;
}

/* MAIN */

section {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    width: 100%;
}
article:first-of-type {
    display: flex;
    background-color: aqua;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -1rem;  
}
h2 {
    position: absolute;
    margin-left: 1rem;
    margin-top: -3rem;
}
img {
    height: 25rem;
    width: 35rem;
    object-fit: cover;    
}
article {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem 1rem;
}
p {
    position: absolute;
}


